# Сборка
bin/
obj/
*.dll
*.exe
*.app
*.pdb

# Пользовательские настройки
.vscode/
.vs/
*.user
*.suo

# NuGet
*.nupkg
*.snupkg
packages/
project.lock.json

# Конфигурационные файлы (секреты)
appsettings.Development.json
secrets.json
*.secret.json

# Rider (если используешь JetBrains)
.idea/

# Отладка и публикация
*.log
*.tmp
*.bak
*.old
*.orig
TestResults/
publish/
logs/

# Кэш
*.cache
*.dbmdl

# Файлы Windows
Thumbs.db
Desktop.ini

########################################
# Тесты
########################################
*.coverage
*.testsettings
*.vsmdi
*.vsp
*.vspx

########################################
# Служебные файлы Git
########################################
*.orig

########################################
# Локальные БД
########################################
*.mdf
*.ldf

# Можно оставить SQL-скрипты миграций, но игнорировать .bak:
*.bak
/API/obj
/Classes/.vs
/Tests/bin
/Tests/obj
